@model BookDetailsViewModel;

<div class="container mb-5">
	<div class="row">
		<div class="col-3">
			<img class="img-fluid" src="@Model.ImagePath" />
		</div>
		<div class="book-details-container col-9">
			<h5 class="book-title mb-3">@Model.Title</h5>
			<div class="container-fluid mb-4 p-0">
				<div class="d-flex align-items-center">
					<p class="darkgreen-color-book mb-0 me-4" style="font-size:24px">@(Model.Price)$</p>
					<div class="d-flex">
						<div class="d-flex me-2 book-quantity-btn-container">
							<span>
								<button id="minus-btn">-</button>
							</span>
							<input class="text-center" id="book-amount" value="1" readonly />
							<span>
								<button id="plus-btn">+</button>
							</span>
						</div>
						<button class="add-to-cart-btn">
							BUY
						</button>
					</div>

				</div>
			</div>
			<div class="book-details-container">
				<div class="book-details-nav d-flex gap-4 fw-bolder mb-3">
					<button class="btn text-decoration-none">
						DETAILS
					</button>
					<button class="btn text-decoration-none">
						DESCRIPTION
					</button>
					<button class="btn text-decoration-none">
						AUTHOR(S)
					</button>
				</div>
				<div class="book-details">
					<p>Pages: @Model.PageCount</p>
					<p>Year Released: @Model.YearOfRelease</p>
					<p class="d-flex">Genres: @string.Join(", ", Model.Genres.Select(g => g.Name))</p>
					<p class="d-flex">Author(s): @string.Join(", ", Model.Authors.Select(a => a.Name))</p>
					<p class="d-flex">Publisher: @Model.PublisherName</p>
				</div>
				<div class="book-details-description d-none">
					<p>@Model.Description</p>
				</div>
				<div class="book-details-authors d-flex flex-wrap d-none">

					@foreach (var author in Model.Authors)
					{
						<div class="text-center">
							<div class="book-details-author-img-container">
								<img src="@author.ImagePath" />
							</div>
							<p>@author.Name</p>
						</div>



					}

				</div>
			</div>
		</div>
	</div>
</div>

<div class="same-author-books-container text-center">
	<h1 class="mb-5">Books by the same author</h1>
	<div class="container">
		<div class="slider">
			@foreach (var book in Model.SameAuthorBooks)
			{
				<div class="index-book-container">
					<div class="index-img-container">
						<img class="img-responsive" src="@book.ImagePath" />
					</div>
					<div class="text-center">
						<div class="book-title">@book.Title</div>
						<div>
							@if (book.Authors.Count > 1)
							{
								<p class="book-author-name">@(book.Authors.FirstOrDefault()!.Name)...</p>
							}
							else
							{
								<p class="book-author-name">@book.Authors.FirstOrDefault()!.Name</p>
							}
						</div>
						<div class="darkgreen-color-book">@book.Price</div>
					</div>

				</div>
			}
		</div>
	</div>
</div>
<div class="simular-books-container text-center">
	<h1 class="mb-5">Simular books</h1>
	<div class="container">
		<div class="slider">
			@foreach (var book in Model.SimularBooks)
			{
				<div class="index-book-container">
					<div class="index-img-container">
						<img class="img-responsive" src="@book.ImagePath" />
					</div>
					<div class="text-center">
						<div class="book-title">@book.Title</div>
						<div>
							@if (book.Authors.Count > 1)
							{
								<p class="book-author-name">@(book.Authors.FirstOrDefault()!.Name)...</p>
							}
							else
							{
								<p class="book-author-name">@book.Authors.FirstOrDefault()!.Name</p>
							}
						</div>
						<div class="darkgreen-color-book">@book.Price</div>
					</div>

				</div>
			}
		</div>
	</div>
</div>

@section Scripts{
	<script>decreaseAmount()</script>
	<script>increaseAmount()</script>
}