@model BookDetailsViewModel;

<div class="container mb-5">
	<div class="row">
		<div class="col-3">
			<img class="img-fluid" src="@Model.ImagePath" />
		</div>
		<div class="book-details-container col-9">
			<h5 class="book-title">@Model.Title</h5>
			<div class="container-fluid mb-2 p-0">
				<div class="d-flex align-items-center">
					<p class="darkgreen-color-book mb-0 me-4" style="font-size:24px">@(Model.Price)$</p>
					<div class="d-flex">
						<div class="d-flex me-2">
							<span>
								<button>-</button>
							</span>
							<input class="text-center" style="max-width:50px" value="1" />
							<span>
								<button>+</button>
							</span>
						</div>
						<button class="add-to-cart-btn">
							BUY
						</button>
					</div>
					
				</div>
			</div>
			<div class="product-details-nav">
				<a>
					DETAILS
				</a>
				<a>
					DESCRIPTION
				</a>
				<a>
					AUTHOR(S)
				</a>
			</div>
		</div>
	</div>
</div>

<div class="same-author-books-container text-center">
	<h1 class="mb-5">Books by the same author</h1>
	<div class="container">
		<div class="slider">
			@foreach (var book in Model.SameAuthorBooks)
			{
				<div class="index-book-container">
					<div class="index-img-container">
						<img class="img-responsive" src="@book.ImagePath" />
					</div>
					<div class="text-center">
						<div class="book-title">@book.Title</div>
						<div>
							@if (book.Authors.Count > 1)
							{
								<p class="book-author-name">@(book.Authors.FirstOrDefault()!.Name)...</p>
							}
							else
							{
								<p class="book-author-name">@book.Authors.FirstOrDefault()!.Name</p>
							}
						</div>
						<div class="darkgreen-color-book">@book.Price</div>
					</div>

				</div>
			}
		</div>
	</div>
</div>
<div class="simular-books-container text-center">
	<h1 class="mb-5">Simular books based on genre</h1>
	<div class="container">
		<div class="slider">
			@foreach (var book in Model.SimularBooks)
			{
				<div class="index-book-container">
					<div class="index-img-container">
						<img class="img-responsive" src="@book.ImagePath" />
					</div>
					<div class="text-center">
						<div class="book-title">@book.Title</div>
						<div>
							@if (book.Authors.Count > 1)
							{
								<p class="book-author-name">@(book.Authors.FirstOrDefault()!.Name)...</p>
							}
							else
							{
								<p class="book-author-name">@book.Authors.FirstOrDefault()!.Name</p>
							}
						</div>
						<div class="darkgreen-color-book">@book.Price</div>
					</div>

				</div>
			}
		</div>
	</div>
</div>