@model HomeViewModel;


@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center home-container">	
	<section class="home-new-books-container">
		<h1 class="mb-5">New <span class="darkgreen-color-book">Books</span></h1>
		<div class="container">
			<div class="slider">
				@foreach (var book in Model.NewBooks)
				{
					<div class="col-4 index-book-container">
						<div class="index-img-container">
							<img class="img-responsive" src="@book.ImagePath" />
						</div>
						<div class="text-center">
							<div>@book.Title</div>
						<div>
							@if (book.Authors.Count > 1)
							{
								<p>@(book.Authors.FirstOrDefault()!.Name)...</p>
							}
							else
							{
								<p>@book.Authors.FirstOrDefault()!.Name</p>
							}
						</div>
						<div class="darkgreen-color-book">@book.Price</div>
						</div>
						
					</div>
				}
			</div>
		</div>

	</section>
	<section class="home-bestsellers-container">
		<h1 class="mb-5">Bestsellers</h1>
		<div class="container">
			<div class="slider">
				@foreach (var book in Model.BestSellers)
				{
					<div class="col-4 index-book-container">
						<div class="index-img-container">
							<img class="img-responsive" src="@book.ImagePath" />
						</div>
						<div class="text-center">
							<div>@book.Title</div>
							<div>
								@if (book.Authors.Count > 1)
								{
									<p>@(book.Authors.FirstOrDefault()!.Name)...</p>
								}
								else
								{
									<p>@book.Authors.FirstOrDefault()!.Name</p>
								}
							</div>
							<div class="darkgreen-color-book">@book.Price</div>
						</div>

					</div>
				}
			</div>
		</div>

	</section>
	<section class="home-discounted-books-container">
		<h1 class="mb-5">Discounted Books</h1>
		<div class="container">
			<div class="slider">
				@foreach (var book in Model.DiscountedBooks)
				{
					<div class="col-4 index-book-container">
						<div class="index-img-container">
							<img class="img-responsive" src="@book.ImagePath" />
						</div>
						<div class="text-center">
							<div>@book.Title</div>
							<div>
								@if (book.Authors.Count > 1)
								{
									<p>@(book.Authors.FirstOrDefault()!.Name)...</p>
								}
								else
								{
									<p>@book.Authors.FirstOrDefault()!.Name</p>
								}
							</div>
							<div class="darkgreen-color-book">@book.Price</div>
						</div>

					</div>
				}
			</div>
		</div>

	</section>
</div>
